<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Data</title>
</head>
<style>
    table, th, td{
            border: 1px solid black;
        border-collapse: collapse;
        width: 20%;
        text-align: center;
    }
</style>

<body>
    <div class="main_div">
        <h1>Fetching the Data From Data Base</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
            </tr>
            {% for task in tasks %}
            <tr>
                
                <td>{{task.name}}</td>
                <td>{{task.lastname}}</td>
                
            </tr>{% endfor %}
        </table>

    </div>
</body>

</html>